.box {
    width: 100px;    
    height: 100px;
    margin: 8px;
    margin-left: 25px;   
    background-color: #fea500;
} 
#boxgray {
    width:260px;
    height: 500px;
    background-color:#808080;
}

h1 {
    color: white;
    margin: 20px;
}